.player__board {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: 36px;
  grid-gap: 10px;
  margin-bottom: 30px;
  span {
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    background-color: white;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    margin-right: 20px;
    width: 100%;
    &:last-child {
      margin-right: 0;
    }
  }
}

@font-face {
  font-family: Cookie;
  src: url("/src/font/CookieRunBlack.ttf") format("truetype");
}

@font-face {
  font-family: Gmarket_Bold;
  src: url("/src/font/GmarketSansTTFBold.ttf") format("truetype");
}

#Title {
  text-align: center;
  font-size: 30px;
  font-family: Cookie;
  background-color: rgb(166, 253, 163);
  margin: 30px;
}
